html,
body {
  height: 100%;
}

body {
  margin: 50;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

canvas {
}

button {
  font: inherit;
  background-color: green;
  color: white;
  border: 0;
  padding: 1em;
}
